
Hungry For Clown.docx
pride_and_prejudice.txt
.ipynb_checkpoints/BuddyGUIs-checkpoint.py
.ipynb_checkpoints/novel_analysis-checkpoint.ipynb
.ipynb_checkpoints/Text Functions-checkpoint.ipynb
.ipynb_checkpoints/TextManager-checkpoint.py
.ipynb_checkpoints/Untitled-checkpoint.ipynb
